.moviesPage {
  padding: 20px;
  background-color: #f9f9f9;
}

.searchSection {
  margin-bottom: 30px;
}

.movieListSection {
  margin-top: 20px;
}

.errorMessage {
  color: red;
  text-align: center;
  margin-top: 20px;
}
